body {
  background: #212121;
}

.title {
  color: #E0E0E0;
}

.intro {
  color: #E0E0E0;
}

.logo {
  position: absolute;
  bottom: 0;
  margin: 25px;
}

.search_bar {
  text-align: center;
}

.search_bar input {
  color: #E0E0E0;
  width: 55%;
  height: 40px;
  position: absolute;
  bottom: 0;
  margin: 25px;
  font-size: 20px;
  /*padding-left: 15px;*/
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #E0E0E0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

::-webkit-input-placeholder { /* Chrome */
  color: #E0E0E0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E0E0E0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E0E0E0;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #E0E0E0;
  opacity: 1;
}
