/* Test */
#charts {
 padding: 10px 0;
}

.chart {
 display: inline-block;
 height: 151px;
 margin-bottom: 20px;
}

.reset {
 padding-left: 1em;
 font-size: smaller;
 color: #ccc;
}

.background.bar {
 fill: #ccc;
}

.foreground.bar {
 fill: steelblue;
}

.brush-handle {
 fill: #eee;
 stroke: #666;
}

#hour-chart {
 width: 260px;
}

#delay-chart {
 width: 230px;
}

#distance-chart {
 width: 430px;
}

#date-chart {
 width: 920px;
}

#flight-list {
 min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
 margin-bottom: .4em;
}

#flight-list .flight {
 line-height: 1.5em;
 background: #eee;
 width: 925px;
 margin-bottom: 1px;
}

#flight-list .time {
 color: #999;
}

#flight-list .flight div {
 display: inline-block;
}

#flight-list div.time {
 width: 100px;
 text-align: left;
}

#flight-list div.origin {
 width: 50px;
 text-align: right;
 padding-right: 15px;
}

#flight-list div.destination {
 width: 100px;
 text-align: left;
 padding-left: 15px;
}

#flight-list div.distance {
 width: 100px;
 text-align: left;
}

#flight-list div.delay {
 width: 120px;
 padding-right: 0px;
 text-align: right;
}

#flight-list .early {
 color: green;
}

aside {
 position: absolute;
 left: 740px;
 font-size: smaller;
 width: 220px;
}

body {
  background: #212121;
  max-height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Poiret One', cursive;
  font-size: 75px;
  margin: 50px;
  text-align: center;
  color: #E0E0E0;
}

.intro {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #E0E0E0;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.toggle_language {
  color: #E0E0E0;
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-weight: bold;
}

.visualisation {
  position: fixed;
  top: 0;
  left: 0;
}

#back {
  border: 0;
  outline: 0;
  background: transparent;
  color: #E0E0E0;
  font-size: 25px;
  position: absolute;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 75px;
}

.frequency_bar {
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  height: 70%;
  width: 20%;
  /*z-index: -1;*/
  color: #E0E0E0;
  position: absolute;
  text-align: left;
  overflow: scroll;
}

.alluvial_legend {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25px;
  text-align: center;
  color: #E0E0E0;
  display: none;
}

.credits {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 30%;
  text-align: center;
  color: #E0E0E0;
}

.logo {
  position: absolute;
  bottom: 0;
  margin: 25px;
}

.searchbar {
  display: none;
  text-align: center;
}

.searchbar input {
  color: #E0E0E0;
  width: 55%;
  height: 40px;
  position: absolute;
  top: 0;
  font-size: 20px;
  /*padding-left: 15px;*/
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #E0E0E0;
  left:0;
  right:0;
  margin-top: 65px;
  margin-left:auto;
  margin-right:auto;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #424242;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

#chart {
  z-index: 1;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #F5F5F5;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

::-webkit-input-placeholder { /* Chrome */
  color: #E0E0E0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #E0E0E0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #E0E0E0;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #E0E0E0;
  opacity: 1;
}
